@using Domain.ViewModels
@model EventDetailsViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/EventDetails.css" />

@{

     Layout = "~/Views/Shared/_Dependencies.cshtml";

}


<div class="container-fluid mt-5">
    <div id="overlay">
        <div class="overlay-content">
            <div class="spinner"></div>
            <p class="proccessing">Processing...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">@Model.Event.Name</h1>
            <div class="text-center">
                <img src="@Model.Event.Image" alt="Event Image" class="event-img"/>
            </div>
        </div>
        <div class="col-10 mx-auto p-3 border mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>@Model.Event.Name</h1>
                    <p class="card-text">
                        <strong>@Localizer["About"]</strong> @Model.Event.Description
                    </p>
                    <p class="card-text">
                        <strong>@Localizer["Start Date"]:</strong> @Model.Event.StartDate.ToString("MMMM dd, yyyy HH:mm tt")
                    </p>
                    <p class="card-text">
                        <strong>@Localizer["End Date"]:</strong> @Model.Event.EndDate.ToString("MMM dd, yyyy HH:mm tt")
                    </p>
                    <p>
                        <strong>@Localizer["Location"]:</strong> @Model.Event.City, @Model.Event.StreetName, @Model.Event.State
                    </p>    
                </div>
                <div class="col-md-6">
                    @if (Model.Tickets.Count > 0)
                    {
                        <h1>Tickets</h1>
                        @foreach (var ticket in Model.Tickets)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">@ticket.Name</h5>
                                    <img src="@ticket.ImagePath" alt="Event Image" width="450" height="350" class="rounded" />
                                    <p class="card-text">@ticket.Description</p>
                                    <p class="card-text">@Localizer["Price"]: $@ticket.Price</p>
                                    @if(ticket.Quantity > 0){
                                        <p class="card-text" id="quantity-@ticket.Id">@Localizer["Available"]: @ticket.Quantity</p>
                                        <p class="card-text" id="available-@ticket.Id"></p>
                                        <div class="quantity-container">
                                            <button class="btn btn-sm btn-secondary minus-button" data-ticket-id="@ticket.Id">-</button>
                                            <input type="number" class="quantity-input" value="0" min="0" max="7" data-ticket-id="@ticket.Id" readonly/>
                                            <button class="btn btn-sm btn-secondary plus-button" data-ticket-id="@ticket.Id">+</button>
                                        </div>
                                        <div data-ticket-id="@ticket.Id" class="quantityErrorMessage text-danger"></div>
                                        <p class="card-text">
                                            <strong>@Localizer["Total Price"]: <span class="total-price" data-ticket-id="@ticket.Id">$0.00</span></strong>
                                        </p>
                                        @if(ticket.IsAvailable)
                                        {
                                            <div id="countdown-@ticket.Id" class="countdown-container">
                                                <div class="countdown-unit">
                                                    <span class="countdown-number" id="days-@ticket.Id"></span>
                                                    <span class="countdown-label">Days</span>
                                                </div>
                                                <div class="countdown-unit">
                                                    <span class="countdown-number" id="hours-@ticket.Id"></span>
                                                    <span class="countdown-label">Hours</span>
                                                </div>
                                                <div class="countdown-unit">
                                                    <span class="countdown-number" id="minutes-@ticket.Id"></span>
                                                    <span class="countdown-label">Minutes</span>
                                                </div>
                                                <div class="countdown-unit">
                                                    <span class="countdown-number" id="seconds-@ticket.Id"></span>
                                                    <span class="countdown-label">Seconds</span>
                                                </div>
                                            </div>
                                            <button id="buy-btn-@ticket.Id" class="btn btn-success buy-button" data-ticket-id="@ticket.Id" 
                                            data-quantity="0">@Localizer["Buy Now"]</button>
                                        }else{
                                            <p>@Localizer["Tickets are currently unavailable."] (@Localizer["Sale Start Date"]: @ticket.SaleStartDate.ToString("MMM dd, yyyy HH:mm tt"),  @Localizer["Sale End Date"]: @ticket.SaleEndDate.ToString("MMM dd, yyyy HH:mm tt"))</p>
                                        }
                                        <hr />
                                    }else{
                                        <div class="text-center">
                                            <p style="color: red; font-weight: bold; font-size:22px; font-family:sans-serif;">@Localizer["Tickets are sold out."]</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h1>Free</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var ticketTypes = Model.Tickets.Select(t => new
    {
        ticketId = t.Id,
        saleEndDate = t.SaleEndDate.ToString("yyyy-MM-ddTHH:mm:ss"),
        price = t.Price
    }).ToList();
}

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var tickets = @Html.Raw(Json.Serialize(ticketTypes));
        //console.log(tickets);
    </script>

    <script src="~/js/ticketCountDown.js"></script>
    <script src="~/js/ticketPriceBasedQuantity.js"></script>


}
