@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Text;
@using System.Text.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Event Managment</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/app.css" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />


</head>

<body>
	<div class="layout-wraper">
		<div class="navigation active" id="navigation-bar">
				@await Html.PartialAsync("_MenuLayout")
		</div>
		<div class="main-content" id="main-container">
			<div class="content">
				<div class="toggle-menu active" id="toggle-sidebar" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></div>
				@if(User.IsInRole("Admin")){
					<div id="admin-notification-icon" class="admin-notification-icon">
						<i class="fa-solid fa-bell"></i>
						<span class="admin-notification-count" id="admin-notification-count"></span>
						 <div id="admin-notification-dropdown" class="hide-dropdown">
							<ul id="admin-notification-list">
							</ul>
						</div>
					</div>
				}
				<div class="toggle-fullscreen" id="toggle-fullscreen" onclick="toggleFullScreen()"><i id="expand-icon" class="fa-solid fa-expand"></i></div>
				<div class="toggle-dropdown" id="toggle-dropdown"><i class="fa-solid fa-chevron-down"></i></div>

				<div class="menu-dropdown menu-dropdown-right">
					<a asp-area="" asp-controller="UserAccount" asp-action="UpdateUserProfile" class="item-dropdown"><i class="fa-regular fa-user font-size-16 align-middle mr-1"></i> @Localizer["Profili im"]</a>
					<div class="dropdown-divider"></div>
					<a asp-area="" asp-controller="UserAccount" asp-action="Logout" class="item-dropdown text-danger"><i class="fa-solid fa-power-off font-size-16 align-middle mr-1 text-danger"></i> @Localizer["Shkyçu"]</a>
				</div>
				@RenderBody()
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
	<script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
	<script src="~/js/signalR-setup.js"></script>
	<script src="~/js/adminNotification.js"></script>

	<script>
		function toggleFullScreen() {
			let expandIcon = document.getElementById('expand-icon');
			expandIcon.classList.toggle('fa-expand');
			expandIcon.classList.toggle('fa-compress');

			if (expandIcon.classList.contains('fa-expand')) {
				exitFullScreen();
			} else {
				enterFullScreen();
			}
		}

		function enterFullScreen() {
			let element = document.documentElement;

			if (element.requestFullscreen) {
				element.requestFullscreen();
			} else if (element.mozRequestFullScreen) { 
				element.mozRequestFullScreen();
			} else if (element.webkitRequestFullscreen) {
				element.webkitRequestFullscreen();
			} else if (element.msRequestFullscreen) {
				element.msRequestFullscreen();
			}
		}

		function exitFullScreen() {
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			} else if (document.msExitFullscreen) {
				document.msExitFullscreen();
			}
		}

		function toggleMenu(){
			let navigation = document.getElementById('navigation-bar');
			let barsIcon = document.getElementById('toggle-sidebar');
			let mainContent = document.getElementById('main-container');
			let menuTitle = document.querySelector('.menu-title');
			navigation.classList.toggle('active');
			barsIcon.classList.toggle('active');

			if (!barsIcon.classList.contains('active')) {
				mainContent.style.marginLeft = '65px';
				menuTitle.innerHTML = '<i class="fa-solid fa-chart-line"></i>';
				menuTitle.style.fontSize = '19px';
			} else {
				mainContent.style.marginLeft = '250px';
				menuTitle.innerHTML = 'EventManagement';
				menuTitle.style.fontSize = '14px';
			}
		}

		document.getElementById('toggle-dropdown').addEventListener('click', function () {
			let dropdownMenu = document.querySelector('.menu-dropdown');
			dropdownMenu.classList.toggle('show');
		});

		document.addEventListener('click', function (event) {
			let toggleDropdown = document.getElementById('toggle-dropdown');
			let dropdownMenu = document.querySelector('.menu-dropdown');

			if (!toggleDropdown.contains(event.target) && !dropdownMenu.contains(event.target)) {
				dropdownMenu.classList.remove('show');
			}
		});
		
		$(function () {
			if ('@TempData["message"]' == "Added") {
				toastr.success('', '@TempData["entity"] @Localizer["Created Successfully."]', {
					"closeButton": true,
					"timeOut": "7000"
				});
			}
			else if ('@TempData["message"]' == "Updated") {
				toastr.success('', '@TempData["entity"] @Localizer["Updated Successfully."] ', {
					"closeButton": true,
					"timeOut": "7000"
				});

			}
			else if ('@TempData["message"]' == "Deleted") {
				toastr.success('', '@TempData["entity"] @Localizer["Deleted Successfully."] ', {
					"closeButton": true,
					"timeOut": "7000"

				});
			}
			else if ('@TempData["message"]' == "Error") {
				toastr.error('', '@TempData["entity"] ', {
					"closeButton": true,
					"timeOut": "7000"
				});
			}
			else if ('@TempData["message"]' == "Message") {
				toastr.info('', '@TempData["entity"] ', {
					"closeButton": true,
					"timeOut": "10000"
				});
			}
			else if ('@TempData["message"]' == "Warning") {
				toastr.warning('', '@TempData["entity"] @Localizer[""]', {
					"closeButton": true,
					"timeOut": "10000"
				});
			}
			else if ('@TempData["message"]' == "Success") {
				toastr.success('', '@TempData["entity"] @Localizer[""] ', {
					"closeButton": true,
					"timeOut": "7000"
				});
			}
		});

	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>