@using Domain._DTO.Event
@model EventEditDto

@{
	Layout = "~/Views/Shared/_Dependencies.cshtml";
	ViewData["Title"] = "Event Update";
}


<div class="container mt-5">
	<div class="row">
		<div class="col-10 border p-3">
			<form action="@Url.Action("Edit", "Event")" method="post" enctype="multipart/form-data">
				<input asp-for="EncryptedId" hidden />
				<input asp-for="Image" hidden />
				<input asp-for="IsActive" hidden />
				<input asp-for="Status" hidden />
				<input type="hidden" id="OriginalLatitude" value="@Model.Latitude" />
				<input type="hidden" id="OriginalLongitude" value="@Model.Longitude" />
				<h2 class="text-primary">Update Event</h2>
				<hr />
				<div class="row">
					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="Name" class="control-label"></label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
					</div>
					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="Description" class="control-label"></label>
							<input asp-for="Description" class="form-control" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 pb-3">
						<div id="map" style="height: 300px;"></div>
					</div>

					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="State" class="control-label"></label>
							<input asp-for="State" class="form-control" readonly />
							<span asp-validation-for="State" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="City" class="control-label"></label>
							<input asp-for="City" class="form-control" readonly/>
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="StreetName" class="control-label"></label>
							<input asp-for="StreetName" class="form-control" readonly />
							<span asp-validation-for="StreetName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="Place" class="control-label"></label>
							<input asp-for="Place" class="form-control" />
							<span asp-validation-for="Place" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="Latitude" class="control-label"></label>
							<input asp-for="Latitude" class="form-control" id="Latitude" readonly />
							<span asp-validation-for="Latitude" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 pb-3">
						<div class="form-group">
							<label asp-for="Longitude" class="control-label"></label>
							<input asp-for="Longitude" class="form-control" id="Longitude" readonly />
							<span asp-validation-for="Longitude" class="text-danger"></span>
						</div>
					</div>

					<div class="col-12 mb-3">
						<label asp-for="Image"></label>
						<input asp-for="Image" type="file" id="uploadBox" name="file" class="form-control" accept="image/png, image/jpeg, image/jpg" />
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label asp-for="StartDate" class="control-label"></label>
							<input asp-for="StartDate" class="form-control" id="startDate" />
							<span asp-validation-for="StartDate" class="text-danger"></span>
						</div>
					</div>

					<div class="col-6 mb-3">
						<div class="form-group">
							<label asp-for="EndDate" class="control-label"></label>
							<input asp-for="EndDate" class="form-control" id="endDate" />
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
					</div>

					<div class="col-6 mb-3">
						<div class="form-group">
							<label asp-for="CategoryId" class="control-label"></label>
							<select class="form-control search-select" asp-for="EncryptedCategoryId">
								<option selected disabled>Zgjidhni Categorin</option>
								@foreach (var vlera in Model.Category)
								{
									<option value="@vlera.EncryptedId">@vlera.Name</option>
								}
							</select>
							<span asp-validation-for="EncryptedCategoryId" class="text-danger"></span>
						</div>
					</div>
				   
					<div class="col-12 pt-3">
						<div class="btn-display-flex">
							<input type="submit" class="btn btn-primary" style="width:150px" value="Update" />
							<a asp-controller="Event" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-2 pt-4">
			<img src="@Model.Image"
				 width="450px" style="border-radius:5px; border:1px solid #bbb9b9" />
		</div>
	</div>
</div>

@section Scripts{
	@{
		//Client Site Validation
	<partial name="_ValidationScriptsPartial" />
	}

	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmFyZHoxIiwiYSI6ImNsazM0bDdvYTBua3IzZHAybm02azNwM3gifQ.tiaCEyPec5_jLghxMVQk2g';

		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [@Model.Longitude, @Model.Latitude],
			zoom: 9
		});

		var marker = new mapboxgl.Marker({
			draggable: true
		})
			.setLngLat([@Model.Longitude, @Model.Latitude])
			.addTo(map);

		map.on('click', function (e) {
			marker.setLngLat(e.lngLat);
			var lngLat = e.lngLat;

			fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${lngLat.lat}&lon=${lngLat.lng}`)
				.then(response => response.json())
				.then(data => {
					var address = data.address;
					console.log('Address:', address);

					var streetName = address.road || address.street || address.footway || '';
					var city = address.city || address.municipality || address.county || '';
					var state = address.country || address.postcode || '';

					var selectedCity = city.replace('Municipality of ', '');

					document.getElementById('StreetName').value = streetName;
					document.getElementById('City').value = selectedCity;
					document.getElementById('State').value = state;
					document.getElementById('Latitude').value = lngLat.lat.toFixed(6);
					document.getElementById('Longitude').value = lngLat.lng.toFixed(6);
				})
				.catch(error => {
					console.log('Error:', error);
				});
		});
	</script>
}