@using Domain._DTO.UserAccount
@model LoginDto
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/login.css" />

@{
	Layout = "~/Views/Shared/_Dependencies.cshtml";
}

<div class="login-container">
	<form class="login-form" action="@Url.Action("Login", "UserAccount")" method="post">
		<input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />
		<div class="logo">
			<img src="~/images/logo.png" alt="">
		</div>
		<div class="field">
			<label asp-for="Email" class="control-label">@Localizer["Email"]</label>
			<input asp-for="Email" class="form-control" placeholder="Enter Your Email"/>
			<span asp-validation-for="Email" class="text-danger"></span>

			<label asp-for="Password" class="control-label">@Localizer["Password"]</label>
			<input asp-for="Password" class="form-control" placeholder="Enter Your Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="login-field">
			<button type="submit" id="login-btn" class="btn">@Localizer["Login"]</button>
		</div>
		<div class="link">
			<p>Don't have account?<a asp-controller="UserAccount" asp-action="Register"> Sign Up Now</a></p>
			<a class="mb-3" asp-controller="UserAccount" asp-action="ForgotPassword"> Forgot Password</a>
		</div>
	</form>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}