@using ReflectionIT.Mvc.Paging
@using Domain._DTO.Category
@model PagingList<CategoryDto>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Category List";
}

<link rel="stylesheet" href="~/css/category.css" />

<div class="container">
    <div class="row">
        <div class="col-12 border p-3 row-container">
            <form action="@Url.Action("Index", "Category")">
                <div class ="row" style="justify-content:space-between;">
                    <div class="col-4">
                        <a href="@Url.Action("Index", "Category")" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>Category List</a>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="search" name="filter" value="@ViewBag.Filter" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="@Url.Action("Create", "Category")" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i>Create Category</a>
                    </div>
                </div>
            </form>
            <hr />
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td class="actions">
                                <a class="btn btn-primary" href="@Url.Action("Edit", "Category", new { encryptedId = category.EncryptedId })"><i class="bi bi-pencil-square"></i>Edit</a> |
                                <a class="btn btn-danger text-white" onclick="confirmDelete('@category.EncryptedId')"><i class="bi bi-trash"></i>Delete</a>
                            </td>
                        </tr> 
                    }
                </tbody>
            </table>
            <div class="container">
                <div class="pagination col-12">
                    @if (ViewBag.Page > 1)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = ViewBag.Page - 1, sortExpression = ViewBag.SortExpression })">&lt; Previous</a>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = i, sortExpression = ViewBag.SortExpression })" @(i == ViewBag.Page ? "class=current" : null)>@i</a>
                    }

                    @if (ViewBag.Page < ViewBag.TotalPages)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = ViewBag.Page + 1, sortExpression = ViewBag.SortExpression })">Next &gt;</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{
        //Client Site Validation
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js"></script>
    }
}
