@using ReflectionIT.Mvc.Paging
@using Domain._DTO.Category
@model PagingList<CategoryDto>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Category List";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12 border p-3 row-container">
            <form action="@Url.Action("Index", "Category")">
                <div class ="row actions-container" style="justify-content:space-between;">
                    <div class="col-4 grid-column">
                        <a href="@Url.Action("Index", "Category")" class="list-btn">Category List <i class="bi bi-list-ul"></i></a>
                    </div>
                    <div class="col-4 grid-column">
                        <div class="input-group">
                            <input type="search" name="filter" value="@ViewBag.Filter" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        </div>
                    </div>
                    <div class="col-2 grid-column ml-auto">
                        <a href="@Url.Action("Create", "Category")" class="create-btn">Create<i class="bi bi-plus-circle"></i></a>
                    </div>
                </div>
            </form>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td data-cell="name">@category.Name</td>
                            <td data-cell="actions" class="actions">
                                <a class="icon edit" href="@Url.Action("Edit", "Category", new { encryptedId = category.EncryptedId })">
                                    <div class="toltip">Edit</div>
                                    <span><i class="fa-regular fa-pen-to-square" style="color:#2a3042;"></i></span>
                                </a> |
                                <a class="icon edit" onclick="confirmDelete('@category.EncryptedId','Category','Delete')">
                                    <div class="toltip">Delete</div>
                                    <span><i class="fa-regular fa-trash-can" style="color:red"></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                <div class="pagination col-12">
                    @if (ViewBag.Page > 1)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = ViewBag.Page - 1, sortExpression = ViewBag.SortExpression })">&lt; Previous</a>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = i, sortExpression = ViewBag.SortExpression })" @(i == ViewBag.Page ? "class=current" : null)>@i</a>
                    }

                    @if (ViewBag.Page < ViewBag.TotalPages)
                    {
                        <a href="@Url.Action("Index", "Category", new { filter = ViewBag.Filter, encryptedId = ViewBag.EncryptedId, pageSize = ViewBag.PageSize, page = ViewBag.Page + 1, sortExpression = ViewBag.SortExpression })">Next &gt;</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{
        //Client Site Validation
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js"></script>
    }
}
